In [21]:
import h5py
import plotly
import geopandas as gpd
import pandas as pd

gedi_swath = h5py.File("GEDI02_B_2019125140338_O02232_T05437_02_001_01.h5", "r")

gdf = gpd.GeoDataFrame()
df = pd.DataFrame()

In [24]:
beam = gedi_swath["BEAM0000"]
print(beam)

lats = beam["geolocation"]["latitude_bin0"]
lons = beam["geolocation"]["longitude_bin0"]
pai = beam["pai"]

df = pd.DataFrame({'pai': pai,
           'height':beam['rh100'],
           'beam':beam['beam'],
           'Latitude':lats,
           'Longitude':lons})

<HDF5 group "/BEAM0000" (40 members)>

In [25]:
df

           pai  height  beam   Latitude  Longitude
0      -9999.0       0     0 -38.893398  97.045105
1      -9999.0       0     0 -38.893237  97.045359
2      -9999.0       0     0 -38.893075  97.045614
3      -9999.0       0     0 -38.892913  97.045869
4      -9999.0       0     0 -38.892751  97.046123
...        ...     ...   ...        ...        ...
347100 -9999.0       0     0 -23.729201 -40.439210
347101 -9999.0       0     0 -23.729399 -40.439029
347102 -9999.0       0     0 -23.729597 -40.438848
347103 -9999.0       0     0 -23.729794 -40.438667
347104 -9999.0       0     0 -23.729992 -40.438487

[347105 rows x 5 columns]

In [27]:
gdf = gpd.GeoDataFrame(df, geometry = gpd.points_from_xy(df.Longitude, df.Latitude))

In [28]:
gdf

,pai,height,beam,Latitude,Longitude,geometry
0,-9999.0,0,0,-38.893398,97.045105,POINT (97.04510 -38.89340)
1,-9999.0,0,0,-38.893237,97.045359,POINT (97.04536 -38.89324)
2,-9999.0,0,0,-38.893075,97.045614,POINT (97.04561 -38.89307)
3,-9999.0,0,0,-38.892913,97.045869,POINT (97.04587 -38.89291)
4,-9999.0,0,0,-38.892751,97.046123,POINT (97.04612 -38.89275)
...,...,...,...,...,...,...
347100,-9999.0,0,0,-23.729201,-40.439210,POINT (-40.43921 -23.72920)
347101,-9999.0,0,0,-23.729399,-40.439029,POINT (-40.43903 -23.72940)
347102,-9999.0,0,0,-23.729597,-40.438848,POINT (-40.43885 -23.72960)
347103,-9999.0,0,0,-23.729794,-40.438667,POINT (-40.43867 -23.72979)
347104,-9999.0,0,0,-23.729992,-40.438487,POINT (-40.43849 -23.72999)